@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


$primary-color: #FFC633;



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.btn {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

//---------------------------------------------------------------------------------------///

//header

.topbar {
  display: flex;
  justify-content: center;

  gap: 170px;
  padding: 20px 0;

  .wrapper-brend {
    display: flex;
    align-items: center;

    .brend {

      .logo {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 900;
        font-size: 80px;
        line-height: 60px;

        background: linear-gradient(90deg, #2A2D3E 0%, #FFC633 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

      }

      p {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 12.9255px;
        line-height: 15px;
        text-transform: uppercas;
        color: #24173D;
      }
    }

    >p {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      text-transform: uppercase;

      color: #24173D;

      width: 280px;
    }
  }

  .divider {
    margin-left: 25px;
    margin-right: 10px;
    fill: #3B393C;
  }

  .phone {
    display: flex;
    align-items: center;
    gap: 37px;

    .numberphone {
      display: flex;
      align-items: center;
      gap: 20px;
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 24px;
      color: #24173D;
    }

    .btn-callback {
      padding: 25px 15px;
      background-color: #FFC633;
      border-radius: 30px;
      font-family: 'Open Sans';
      font-weight: 700;
      font-size: 18px;
    }


  }

}


.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 110px 30px 200px 30px;
  background-image: url("../assets/img/header-background.jpg");
  background-size: cover;

  .intro__block {

    display: flex;
    flex-direction: column;
    gap: 20px;

    font-family: 'Montserrat';

    color: white;
    width: 33%;

    p {
      font-weight: 300;
      color: #F2F2F2;
    }

    h2 {
      font-size: 50px;
      font-weight: 700;
    }

    .intro__title {
      font-weight: 800;
      font-size: 60px;
      text-transform: uppercase;
    }

    .intro__subtitle {
      font-size: 30px;
    }

    .intro__description {
      margin-bottom: 10px;
      font-size: 22px;
    }
  }

  .intro__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 44px 50px;

    background: #FFC633;
    box-shadow: 10px 25px 45px rgba(0, 0, 0, 0.15);
    border-radius: 30px;

    font-family: 'Montserrat';
    font-style: normal;
    text-align: center;
    letter-spacing: 0.1em;

    .form__title {
      font-weight: 800;
      font-size: 72px;
      line-height: 110%;
      text-transform: uppercase;
      color: #24173D;
    }

    .form__subtitle {
      font-weight: 400;
      font-size: 28px;
      margin-bottom: 10px;
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;

      .input-wrapper {
        display: flex;
        gap: 20px;
      }

      input {
        border: none;
        outline: none;
        background: #FFFFFF;
        border-radius: 5px;
        font-size: 24px;
        padding: 20px;
        max-width: 385px;
        width: 100%;
      }

      .intro__btn {
        background-color: #24173D;
        box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
        border-radius: 43px;
        padding: 10px 20px;
        color: white;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
      }
    }

    span {
      font-weight: 600;
      font-size: 18px;
      line-height: 110%;
      text-transform: uppercase;

      color: #FFFFFF;
    }

  }

}

//main

.benefits {
  padding: 42px 70px;

  &__wrapper {
    border: 8px double rgba(0, 0, 0, 0.6);
    border-radius: 20px;
  }

  legend {
    text-align: center;
  }

  &__title {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;

    padding: 0 30px;
  }

  .card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 94px 0;

    padding: 63px 90px;
  }

  .card {
    display: flex;
    align-items: center;
    gap: 40px;

    flex-basis: 33.3333333%;

    &__text {
      font-family: 'Montserrat';
      font-size: 24px;
      font-weight: 300;
      line-height: 29px;
      letter-spacing: 0.05em;
      text-align: left;
    }

  }
}

.types {
  text-align: center;
  padding-top: 18px;

  &__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 44px;
    line-height: 70px;
    margin-bottom: 50px;
  }

  .card-wrapper {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2px 2px;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      padding: 30px;

      height: 416px;
      flex-basis: 33.25%;
    }

    div:nth-child(1) {
      background-image: url(../assets/img/Rectangle-1.jpg);
    }

    div:nth-child(2) {
      background-image: url(../assets/img/Rectangle-2.jpg);
    }

    div:nth-child(3) {
      background-image: url(../assets/img/Rectangle-3.jpg);
    }

    div:nth-child(4) {
      background-image: url(../assets/img/Rectangle-4.jpg);
      flex-grow: 1;
    }

    div:nth-child(5) {
      background-image: url(../assets/img/Rectangle-5.jpg);
      flex-grow: 1;
    }

    .description {
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 24px;

      color: white;
    }

    .btn-card {
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 16px;
      text-transform: uppercase;

      color: #24173D;
      padding: 10px 20px;

      background: #FAC86E;
      box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
      border-radius: 30px;

    }


  }


}

.contribution {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 75px;
  padding-top: 50px;
  padding-bottom: 75px;

  &__title {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 40px;
    line-height: 70px;
    text-transform: uppercase;

    width: 34.48%;
    color: #24173D;
    border-left: 5px solid #24173D;
    padding-left: 20px;
  }

  &__wrapper {

    display: flex;
    align-items: center;
    padding: 50px;
    gap: 89px;

    background: #FFC633;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px 0px 0px 30px;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    p {
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 22px;
      line-height: 70px;
      color: white;
    }

    p:last-child {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 800;
      font-size: 70px;
      line-height: 70px;

      text-transform: uppercase;

      color: #24173D;

      margin-top: 10px;

      small {
        font-size: 30px;
      }
    }

    .divider {
      width: 100%;
      height: 2px;
      background: #FFFFFF;
      border: none;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

  }
}


.consultation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 60px 0;
  background-image: url(../assets/img/consultation-bg.jpg);

  color: white;

  &__title {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 44px;
    line-height: 70px;
  }

  &__subtitle {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 30px;
    line-height: 70px;

    text-transform: uppercase;

  }

  &__form {
    display: flex;
    gap: 20px;

    >input {
      border: none;
      outline: none;
      background: #FFFFFF;
      border-radius: 5px;
      font-size: 24px;
      padding: 20px;
      max-width: 385px;
      width: 100%;
    }

    button {
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;

      color: #24173D;
      padding: 7px 65px;

      background: #FFC633;
      border-radius: 5px;
    }
  }

}

.footer {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 50px;

  .brend {

    .logo {
      font-family: 'Work Sans';
      font-weight: 900;
      font-size: 80px;
      line-height: 60px;

      background: linear-gradient(90deg, #2A2D3E 0%, #FFC633 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

    }

    p {
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 12.9255px;
      line-height: 15px;
      text-transform: uppercas;
      color: #24173D;
    }
  }

  .copyright {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    
    color: #4A4A4A;
    
    margin-bottom: 15px;

    &__link{
      color: #F8B500;
      text-decoration: underline;
    }
  }




}